body {
    margin: 0px;
    padding: 0px;
}

.page {
    height: 100vh;
}

.p1 {
    background-image: url('https://live.staticflickr.com/2004/3527834109_87d880873b_b.jpg');
    ;
}

.first-line-p1 {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: antiquewhite;
    margin: 0px;
}

.flex-container-1 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0px;
    gap: 20px;
    margin-right: 15px;

}

button {
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
} 

.flex-container-2 {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;

}

.p2 {
    background-image: url('https://cdn.prod.website-files.com/66026f9a23bc03c74d23035a%2F672af9fa621b8081a1b0c5cf_TSQ_night_1-poster-00001.jpg');
}

.p-tag-2 {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    display: flex;
    align-items: center;
    margin: 0px;
}

.flex-container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-bit {
    display: flex;
    align-items: end;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}